.bgprovider{
    background-color:#e8effa;
}
h2{
    color:#4674c8;
    padding: 1rem 0;
}
.secProvider{
    margin: auto;
    width: 60%;
    padding: 2rem;
}

img {
    width: 100%;
    height: 100px;
    
}
