.install{
    padding:3rem;
    text-align: left;
}
.textLeft{
    width: 30%;
}
h3{
    color:#5c78b0;
    padding: 1rem 0;
}
button{
    margin-top:1rem ;
    border: none;
}
.textRight{
    text-align: right;
}
img{
    width: 200px;
}
/* img{
    width: 18rem;
    height: 10rem;
} */